#pragma once

#define MQTT_CA_CERT R"(
-----BEGIN CERTIFICATE-----
<your-ca-cert>
-----END CERTIFICATE-----
)"

#define MQTT_HOST "your-mqtt-host"
#define MQTT_PORT <your-mqtt-port>
#define MQTT_USER "your-mqtt-user"
#define MQTT_PASSWORD "your-mqtt-password"
#define MQTT_TOPIC_COMMAND "your-topic-command"
#define MQTT_TOPIC_STATUS "your-topic-status"

#define WIFI_SSID "your-wifi-ssid"
#define WIFI_PASSWORD "your-wifi-password"

#define TARGET_MAC "your-target-mac"
#define TARGET_IP "your-target-ip"
#define TARGET_PORT <your-target-port>
